<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>rowContent</key>
		<array>
			<dict>
				<key>title</key>
				<string>周小瑜</string>
				<key>extraInfo</key>
				<string>757521389</string>
				<key>cellClass</key>
				<string>SYSettingPortraitCell</string>
				<key>rowHeight</key>
				<integer>100</integer>
				<key>accessory</key>
				<true/>
				<key>fromNib</key>
				<true/>
			</dict>
		</array>
		<key>footerTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>rowContent</key>
		<array>
			<dict>
				<key>title</key>
				<string>消息提醒</string>
				<key>detailTitle</key>
				<string>未开启</string>
			</dict>
		</array>
		<key>footerTitle</key>
		<string>在iPhone的“设置- 通知中心”功能，找到应用程序“云信”，可以更改云信新消息提醒设置</string>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>rowContent</key>
		<array>
			<dict>
				<key>title</key>
				<string>免打扰</string>
				<key>detailTitle</key>
				<string>未开启</string>
				<key>accessory</key>
				<true/>
			</dict>
		</array>
		<key>footerHeight</key>
		<string></string>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>rowContent</key>
		<array>
			<dict>
				<key>title</key>
				<string>查看日志</string>
			</dict>
			<dict>
				<key>title</key>
				<string>上传日志</string>
				<key>cellClass</key>
				<string>SYSettingSwitchCell</string>
			</dict>
			<dict>
				<key>title</key>
				<string>清空所有聊天记录</string>
			</dict>
			<dict>
				<key>title</key>
				<string>关于</string>
			</dict>
		</array>
		<key>FooterTitle</key>
		<string></string>
	</dict>
</array>
</plist>
